[submodule "assets/modules/scss"]
	path = assets/modules/scss
	url = https://github.com/gotpop/gotscss.git
[submodule "assets/modules/js"]
	path = assets/modules/js
	url = https://github.com/gotpop/gotjs.git
