$colPrimary: rgb(197, 55, 173);
$colSecondary: rgb(52, 69, 214);

$colWhite: #ffffff;
$colWhiteOff: #f0e9e9;
$colGreyLight: #e4e4e4;
$colGreyMid: #bdbdbd;
$colGreyDark: #505050;
$colCharcoal: #272727;
$colBlack: #000000;