// Defaults
// $colPrimary: #bb377d;
// $colSecondary: rgb(52, 69, 214);

$colWhite: #ffffff;
$colWhiteOff: #f7f2f2;
$colGreyLight: #e4e4e4;
$colGreyMid: #bdbdbd;
$colGreyDark: #646363;
$colCharcoal: #272727;
$colBlack: #000000;