{{ $currentPage := . }}
{{/* Comment  */}}
<nav class="footer__nav">
    {{ range .Site.Data.menus.footer.footer }}
        {{ $MenuItem := . }}
        {{ $PageLinkURL := "" }}

        {{ range $.Site.RegularPages}}
            {{ if eq .Params.id $MenuItem.linkrel }}
                {{ $PageLinkURL = .RelPermalink }}
            {{ end }}
        {{ end }}

        {{ if eq $MenuItem.type "linkExternal" }}
            <a class="footer__link footer__link--external" href="{{ $MenuItem.url }}">
                {{ .title }}
                {{ partial "icon.html" $MenuItem.icon }}
            </a>
        {{ else if eq $MenuItem.type "linkInternal" }}
            <a class="footer__link footer__link--internal{{ if eq $currentPage.RelPermalink $PageLinkURL }} footer__link--active{{ end }}" href="{{ $PageLinkURL }}">
                {{ .title }}
                {{ partial "icon.html" $MenuItem.icon }}
            </a>
        {{ else if eq $MenuItem.type "linkAdmin" }}
            <a class="footer__link footer__link--admin" href="/admin">
                Admin
                {{ partial "icon.html" $MenuItem.icon }}
            </a>
        {{ else if eq $MenuItem.type "linkHome" }}
            <a class="footer__link footer__link--admin" href="/">
                Home
                {{ partial "icon.html" $MenuItem.icon }}
            </a>
        {{ end }}
    {{ end }}
</nav>