{{ $currentPage := . }}
{{/* Comment  */}}
<nav class="header__nav">
    {{ range .Site.Data.menus.header}}
        {{ $MenuItem := .Params }}
        {{ $PageLinkURL := "" }}

        {{ range $.Site.RegularPages}}
            {{ if eq .Params.id $MenuItem.linkrel }}
                {{ $PageLinkURL = .URL }}
            {{ end }}
        {{ end }}

        {{ if eq $MenuItem.type "linkExternal" }}
        <a class="header__link header__link--external" href="{{ $MenuItem.url }}">
            {{ .name }}
            {{ partial "icon.html" .Params.icon }}
            </a>
        {{ else if eq $MenuItem.type "linkInternal" }}
            <a class="header__link header__link--internal{{ if eq $currentPage.URL $PageLinkURL }} is-active{{ end }}" href="{{ $PageLinkURL }}">
                {{ .name }}
                {{ partial "icon.html" .Params.icon }}
            </a>
        {{ end }}
    {{ end }}
</nav>
