{{ $currentPage := . }}
<nav class="header__nav">
    {{ range .Site.Data.menus.header.header }}
        {{ $MenuItem := . }}
        {{ $PageLinkURL := "" }}

        {{ range $.Site.RegularPages}}
            {{ if eq .Params.id $MenuItem.linkrel }}
                {{ $PageLinkURL = .RelPermalink }}
            {{ end }}
        {{ end }}

        {{ if eq $MenuItem.type "linkExternal" }}
        <a class="header__link header__link--external" href="{{ $MenuItem.relLink }}">
            {{ .title }}
            {{ partial "icon.html" $MenuItem.icon }}
        </a>
        {{ else if eq $MenuItem.type "linkInternal" }}
            <a class="header__link header__link--internal{{ if eq $currentPage.RelPermalink $PageLinkURL }} header__link--is-active{{ end }}" href="{{ $PageLinkURL }}">
                {{ .title }}
                {{ partial "icon.html" $MenuItem.icon }}
            </a>
        {{ else if eq $MenuItem.type "linkAdmin" }}
            <a class="header__link header__link--admin" href="/admin">
                Admin
                {{ partial "icon.html" $MenuItem.icon }}
            </a>
        {{ else if eq $MenuItem.type "linkHome" }}
            <a class="header__link header__link--admin" href="/">
                Home
                {{ partial "icon.html" $MenuItem.icon }}
            </a>
        {{ end }}
    {{ end }}
</nav>
