<div class="section__inner section__inner--{{ lower .type }}">
    <div class="section__intro">
        <h2>Drag and drop repeatable elements</h2>
    </div>
    {{ range .bannerCard }}
        <article class="card">
            <section class="card__intro">
                <h3>{{ .title }}</h3>
            <p>{{ .bodyText }}</p>
            </section>
            <figure class="card__figure">
                <img src="{{ .blockImage.thumbnail }}" title="{{ .blockImage.title }}" alt="{{ .blockImage.alt }}"
                    loading="lazy">
                <figcaption>{{ .title}}</figcaption>
            </figure>
        </article>
    {{ end }}
</div>
