<div class="section__inner section__inner--{{ lower .context.type }}">
    {{ $button := .context }}
    {{ range .pages }}
        {{ if eq .Params.id $button.linkrel }}
            <div class="page__text">
                <h3>{{ $button.textSupporting }}</h3>
            </div>
            <div class="page__button">
                <a class="button button--large" href="{{ .Permalink }}">
                    {{ $button.title }}
                    {{ partial "icon.html" $button.icon }}
                </a>
            </div>
        {{ end }}
    {{ end }}
</div>
