{{ define "main" }}
<main class="main main__pages">
	<div class="main__inner">
		{{ with .Params.sections }}
			{{ range . }}
				<section class="section section__{{ .type }}">
					{{ if eq .type "gallery" }}
						{{ partial "sections/gallery.html" . }}
					{{ end }}
					{{ if eq .type "image" }}
						{{ partial "sections/image.html" . }}
					{{ end }}
					{{ if eq .type "smallHero" }}
						{{ partial "sections/small_hero.html" . }}
					{{ end }}
					{{ if eq .type "testimonials" }}
						{{ partial "sections/testimonials.html" . }}
					{{ end }}
					{{ if eq .type "textTitle" }}
						{{ partial "sections/text_title.html" . }}
					{{ end }}
				</section>
			{{ end }}
		{{ end }}
		  <aside id="meta">
            <div>
                {{ with .Params.topics }}
                <ul id="topics">
                    {{ range . }}
                    <li>
                        <a href="{{ "topics" | absURL}}/{{ . | urlize }}">{{ . }}</a>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
                {{ with .Params.tags }}
                <ul id="tags">
                    {{ range . }}
                    <li>
                        <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
            <div>
                {{ with .PrevInSection }}
                <a class="previous" href="{{.Permalink}}">
                    {{.Title}}</a> |
                {{ end }}
                {{ with .NextInSection }}
                <a class="next" href="{{.Permalink}}">
                    {{.Title}}</a>
                {{ end }}
            </div>
        </aside>
	</div>
</main>
{{ end }}
