.block {
    padding: $spacing * 2;

    &--button,
    &--gallery {
        align-items: center;
        background-color: $colWhiteOff;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    &--blockimage {
        background-color: $colWhiteOff;
    }

    &--smallhero {
        align-items: center;
        background-color: $colWhiteOff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem;
    }
    
    &--testimonials {
        background-color: $colWhiteOff;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(8, 1fr);
    }

    &--gallery {
        padding: 0;
    }

    &__intro {
        grid-column: span 8;
        text-align: center;
    }
}