.footer {
  background-color: $colWhite;
  display: flex;
  justify-content: center;
  padding: $spacing * 2 $spacing $spacing * 4 $spacing;

  &__inner {
    @include grid();
  }

  &__nav {
    display: grid;
    grid-column: 3 / span 8;
    grid-template-columns: subgrid;
  }

  &__link {
    align-items: center;
    background: $colWhiteOff;
    color: $colGreyDark;
    display: flex;
    grid-column: span 2;
    justify-content: space-between;
    padding: $gutter;
    text-decoration: none;
  }
}

.copyright {
  grid-column: span 12;
  text-align: center;
}
