.footer {
  display: flex;
  justify-content: center;
  background-color: $colGreyDark;
  padding: $spacing * 2 $spacing $spacing * 4 $spacing; 
  
  &__inner {
    @include grid();
  }
  
  &__nav {
    grid-column: 3 / span 8;
    display: grid;
    grid-template-columns: subgrid;
  }

  &__link {
    background: $colWhiteOff;
    color: $colGreyDark;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    padding: $gutter;
    grid-column: span 2;
  }
}

.copyright {
  grid-column: span 12;
  text-align: center;
}
