// Footer

.footer {
  display: flex;
  justify-content: center;
  background-color: darkgrey;
  padding: 2rem;
  
  &__inner {
    display: grid;
    flex: 0 1 $width;
    grid-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    padding: $gutter * 2 $gutter $gutter * 4 $gutter;
    justify-items: center;
  }
  
  &__nav {
    grid-column: span 12;
    display: grid;
    grid-template-columns: subgrid;
  }

  &__link {
    background: #ffffff;
    color: #3d3d3d;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    padding: $gutter;
    grid-column: span 2;
  }
}

.copyright {
  grid-column: span 12;
}