.header {
  background: $colWhite;
  display: flex;
  justify-content: center;

  &__wrap--home {
    display: grid;
    grid-template-rows: 1fr 11fr;
    height: 100vh;
  }

  &__inner {
    @include grid();
    margin: 0 $spacing;
  }

  &__logo {
    align-items: center;
    background: $colWhiteOff;
    color: $colCharcoal;
    display: flex;
    font-size: 1.5rem;
    grid-column: span 2;
    justify-content: space-between;
    padding: 1em 1em;
    text-decoration: none;
    
    &:hover {
      background: $colGreyLight;
    }
    
    svg {
      max-width: 2em;
      fill: currentColor;
    }
  }
  
  &__nav {
    align-content: center;
    display: grid;
    grid-column: 5 / span 8;
    grid-template-columns: subgrid;
    grid-template-rows: max-content;
  }
  
  &__link {
    align-items: center;
    color: $colGreyDark;
    display: flex;
    grid-column: span 2;
    font-size: 1.2rem;
    justify-content: space-around;
    padding: $spacingText / 3 $spacingText / 2;
    text-decoration: none;
    transition: background .4s ease;

    svg {
      margin-left: $spacingText / 4;
      min-width: $spacingText;
    }
    
    &:hover {
      background: $colWhiteOff;
    }

    &--active {
      border-bottom: 1px solid $colSecondary;
    }
  }
}

@supports not (grid-template-columns: subgrid) {
  .header__nav {
    display: contents;
  }
}
