.header {
  background: $colWhite;
  display: flex;
  justify-content: center;

  &__wrap--home {
    display: grid;
    grid-template-rows: 1fr 11fr;
    height: 100vh;
  }

  &__inner {
    @include grid();
    margin: 0 $spacing;
  }
}

@supports not (grid-template-columns: subgrid) {
  .header__nav {
    display: contents;
  }
}
