.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__inner {
        @include grid();
        margin: $gutter;
    }
    
    &__intro {
        text-align: center;
        padding: $spacing;
        background-color: $colWhite;
        grid-column: 4 / span 5;
    }
}
