.section {
    background-color: $colGreyLight;
    display: flex;
    justify-content: center;
    
    &:last-of-type {
        padding-bottom: $spacing * 2;
    }
    
    &__inner {
        margin: 0 $spacing;
        @include grid();

        &--cards,
        &--gallery,
        &--page,
        &--testimonials {
            padding: $spacing 0 $spacing 0;
        }

    }

    &__intro {
        grid-column: span 12;
        justify-self: center;
    }

    &:nth-child(even) {
        background-color: $colWhiteOff;
    }
}
