.subnav {
    a {
        background-color: $colWhite;
        color: $colGreyDark;
        padding: $spacing/2 $spacing;
        text-decoration: none;
        transition: background-color .8s ease;

        &:hover {
            background-color: $colWhiteOff;
        }
    }
}
