// Main

.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;

  &__inner {
    flex: 0 1 $width;
    margin: $gutter*2 $gutter $gutter*4 $gutter;
  }
}

.feed {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 3fr;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, minmax(60px, auto));
  
  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(12, minmax(50px, auto));
  }

  &__article {
    background: #eeeeee;
    grid-column: span 3;
    grid-row: span 2;
    display: grid;
    grid-template-rows: subgrid;
    grid-gap: 0;
  }

  &__intro {
    display: grid;
  }
}

.article {
  &__header {
    background: #afafaf;
    padding: $gutter;
  }
  
  &__title {
    margin: 0;
  }
  
  &__body {
    padding: $gutter;
    background: #ffffff;
  }
}
