// Main
.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;

  &__inner {
    flex: 0 1 $width;
    margin: $gutter*2 $gutter $gutter*4 $gutter;
  }
}

.header {
    &__wrap--home {
        display: grid;
        height: 100vh;
        grid-template-rows: 1fr 11fr;
    }
}

.hero {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    &__inner {
        padding: 2rem;
        margin: 2rem;
        background-color: white;    
    }
}

.main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    
    &.main--home {
      background-color: pink;
    }
    &.main--pages {
      background-color: pink;
      display: flex;
      
      &__inner {
        flex: 0 1 1200px;
      }
    }
}




.main__inner--pages {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .content {
    grid-column: 1 / 10;
  }
  
  .sidebar {
    background-color: white;
    padding: 2rem;
    grid-column: 10 / 13;
  }
}

