.section__inner--bannertestimonials {
    padding: $spacing;
}

.testimonial {
    align-items: center;
    background-color: $colWhite;
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    padding: $spacing;

    h4 {
        margin-bottom: $spacing / 2;
    }

    h4,
    p {
        text-align: center;
    }
}
