<header class="header__wrap{{ with .IsHome }} header__wrap--home{{ end }}">
	<section class="header{{ with .IsHome }} header--home{{ end }}">
		<div class="header__inner">
			{{ if .Site.Data.header.display_site_logo }}
				{{ partial "logo.html" . }}
			{{ end }}
			{{ if .Site.Data.header.display_site_nav }}
				{{ partial "menus/header.html" . }}
			{{ end }}
		</div>
	</section>
	{{ $displayHomeHero := .Site.Data.home_content.displayHomeHero }}
	{{ $page := .Page.Params }}
	{{ with .IsHome }}
		{{ with $displayHomeHero }}
			{{ partial "hero.html" $ }}
		{{ end }}
	{{ else }}
		{{ with $page.displayPageHero }}
			{{ partial "hero_medium.html" $page }}
		{{ end }}
	{{ end }}
</header>

