<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ $style := resources.Get "scss/main.scss" }}
    {{ $style := $style | resources.ToCSS | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body>

    
    <h1>I feel weak but I think I can meet you for a coffee :-)</h1>
</body>
</html>