.button {
    background-color: $colPrimary;
    color: $colWhite;
    display: flex;
    justify-content: space-between;
    padding: 1em 1.25em;
    text-decoration: none;

    svg {
      width: 1.5em;
      height: auto;
      margin-left: 1.2em;
      
      path {
        stroke: currentColor;
      }
    }

    &--large {
      font-size: 1.3rem;
    }
  }
  
