// Global
body {
  display: flex;
  flex-direction: column;
  font-family: $font-body, Arial, Helvetica, sans-serif;
  background-color: $colPrimary;
  background: linear-gradient(to right, #fbd3e9, $colPrimary); 
}

figure {
  position: relative;
  overflow: hidden;

  figcaption {
    position: absolute;
    right: 0;
    bottom: -3rem;
    transition: bottom .4s ease;
    background-color: $colCharcoal;
    color: $colWhite;
    padding: $spacing / 4;
  }

  &:hover figcaption {
    bottom: 0rem;
  }
}
