body {
  background: linear-gradient(to right, #fbd3e9, $colPrimary); 
  display: flex;
  flex-direction: column;
  font-family: $font-body, Arial, Helvetica, sans-serif;
}

figure {
  overflow: hidden;
  position: relative;

  figcaption {
    background-color: $colCharcoal;
    bottom: -3rem;
    color: $colWhite;
    padding: $spacing / 4;
    position: absolute;
    right: 0;
    transition: bottom .4s ease;
  }

  &:hover figcaption {
    bottom: 0rem;
  }
}
