// Main
.main {
  flex-grow: 1;
  justify-content: center;
  min-height: 100vh;
  
  &__inner {
    flex: 0 1 $width;
    margin: 0 $spacing;
  }
  
  &__content {
    grid-column: 1 / 10;
  }

  &--pages {
    display: flex;

    &__inner {
      flex: 0 1 $width;
    }
  }
}

.main__inner--pages {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: white;

  .sidebar {
    padding: 2rem;
    grid-column: 10 / 13;
  }
}
